<html lang="en" dir="ltr">
  <head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
     <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="utf-8">

    <title></title>
    <%- include('partials/header'); -%>
  </head>
<body>



    <h1>
        <%= title %>
    </h1>
    <p>
      <%= content %>
      </p>



      <div class="container">
          <div class="span3 well">
              <center>
              <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://cdn1.imggmi.com/uploads/2019/10/8/1bb2037f68b3892fcf90087abda6af6e-full.jpg" name="aboutme" width="140" height="140" class="img-circle"></a>
              <h3>Divakar R</h3>
              <em>Hey i really Thank you for visiting my profile. your just one more click away to get to my profile. please click on </em>
              <a href="https://willofd.github.io/Simple-profile-/">profile</a>
      		</center>
          </div>
          <!-- Modal -->
        </div>

  </body>
  <%- include('partials/footer'); -%>
</html>
