<html lang="en" dir="ltr">
  <head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <meta charset="utf-8">

    <title></title>
    <%- include('partials/header'); -%>
  </head>
<body>



    <h1>
        <%= title %>
    </h1>
    <p>
      <%= content %>
      </p>




  </body>
  <%- include('partials/footer'); -%>
</html>
